body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: ivory;
}

h2, h3 {
  font-family: "Platypi", Tahoma, serif;
  color: #2e5397;
  
}

h4, h5 {
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: #2e5397;
}

p, input, label, select, option {
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  color: #2e5397;

}

button {
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  margin-right: 10px;
}

.rotate {
  transform: rotate(-90deg);
  position: fixed;
  top: 40%;
  margin: 0;
}

.red-text {
  color: #c9520d;
}

.btn-primary, .btn-primary:active {
  background-color: #2e5397;
  color: white;
  border: #2e5397;
}

.btn-primary:hover {
  background-color: #1b386f;
  color: white;
  border: #1b386f;
}

.btn-secondary, .btn-secondary:focus {
  background-color: #c9520d;
  color: white;
  border: #c9520d;
}

.btn-secondary:hover, .btn-secondary:active {
  background-color: #a13d03;
  color: white;
  border: #a13d03;
}

.platypi-title {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 140px;
  color: ivory;
}

.platypi-subtitle {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.title-bar { 
  background-color: #c9520d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 18%;
  z-index: 999;
}

.menu-bar {
  background-color: ivory;
  height: 10%;
  align-content: center;
}

.menu-border {
  border-color: #2e5397;
  border-width: 10px;
  border-bottom-style: solid;
  /* border-top-style: solid; */
}

.right-border {
  border-color: #2e5397;
  border-width: 10px;
  border-right-style: solid;
  min-height: 100vh;
}

.col {
  height: 200%;
}
