body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2, h3 {
  /* color: #201c6b; */
  font-family: "Oleo Script", Tahoma, serif;
}

h4, h5, p, input, label {
  /* color: #201c6b; */
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

button {
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  margin-right: 10px;
}

.rotate {
  transform: rotate(-90deg);
  position: fixed;
  top: 40%;
  margin: 0;
}

.thin-red-line {
  color: #8b2317;
}

.red-text {
  color: #8b2317
}

.tint {
  background-color: rgb(250, 235, 233);
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  color: rgb(250, 235, 233);
  font-style: normal;
}

.side-bar {
  background-color: white;
  height: 10%;
  align-content: center;
  position: relative;
}

.top-bar { 
  background-color: #8b2317;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  margin: 0;
  align-items: center;
  width: 18%;
  z-index: 999;
}

.bottom-border {
  border-color: #8b2317;
  border-width: 10px;
  border-bottom-style: solid;
}

.right-border {
  border-color: #8b2317;
  border-width: 10px;
  border-right-style: solid;
}

.blue {
  color:#1e44b7
}

.col {
  height: 200%;
}

.item {
  width: 30%;
  margin-bottom: 2%; 
  position: relative;
}