h2, h3 {
  color:#0f2d8b;
  font-family: "Oleo Script", Tahoma, serif;
}

h4, h5, p, input, label {
  color:#0f2d8b;
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

button {
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  margin-right: 10px;
}

.red-text {
  color: red
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  /* font-size: 30px; */
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-size: 150px;
  text-align: center;
  font-style: normal;
}

.side-bar {
  background-color: #838385;
  min-width: 200px;
}

.top-bar {
  background-color: #0f2d8b;
  min-height: 200px;
}

.big-border {
  border-color: white;
  border-width: 10px;
  border-style: double;
}

.blue {
  color:#0f2d8b
}
